absl-py==1.4.0
anyio==4.2.0
appdirs==1.4.4
asgiref==3.7.2
asttokens==2.2.1
astunparse==1.6.3
attrs==24.3.0
autograd==1.5
backcall==0.2.0
beautifulsoup4==4.12.3
black==25.1.0
bleach==6.2.0
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
check-shapes==1.1.1
chess==1.10.0
click==8.1.6
cloudpickle==2.2.1
cmake==3.27.2
colorama==0.4.6
comm==0.1.4
contourpy==1.1.0
cycler==0.11.0
Cython==3.0.0
debugpy==1.6.7.post1
decorator==5.1.1
deeptime==0.4.4
defusedxml==0.7.1
Deprecated==1.2.14
derivative==0.6.0
dm-tree==0.1.8
dropstackframe==0.1.0
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.21.1
filelock==3.12.2
flake8==7.2.0
flatbuffers==23.5.26
fonttools==4.42.0
forex-python==1.8
frozendict==2.4.6
future==0.18.3
gast==0.4.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gpflow==2.9.0
GPy==1.10.0
gpytorch==1.11
grpcio==1.57.0
h11==0.14.0
h5py==3.9.0
html5lib==1.1
htmltools==0.5.1
idna==3.4
imbalanced-learn==0.13.0
ipykernel==6.25.1
ipython==8.14.0
isort==6.0.0
jax==0.4.14
jaxtyping==0.2.20
jedi==0.19.0
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
julia==0.6.1
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab_pygments==0.3.0
kaggle==1.6.17
keras==2.13.1
kiwisolver==1.4.4
lark==1.1.7
libclang==16.0.6
linear-operator==0.5.1
linkify-it-py==2.0.3
lxml==5.3.0
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune==3.1.0
ml-dtypes==0.2.0
mpmath==1.3.0
multipledispatch==1.0.0
multitasking==0.0.11
mypy-extensions==1.0.0
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
nest-asyncio==1.5.7
networkx==3.1
numpy==1.24.3
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.3
pandas-datareader==0.10.0
pandocfilters==1.5.1
paramz==0.9.5
parso==0.8.3
pathspec==0.12.1
patsy==1.0.1
peewee==3.17.8
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
polars==1.18.0
prompt-toolkit==3.0.36
protobuf==4.24.0
psutil==5.9.5
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.13.0
pyflakes==3.3.2
Pygments==2.16.1
PyJWT==2.8.0
pykan==0.2.8
pyparsing==3.0.9
pysindy==1.7.5
pysr==0.16.1
python-dateutil==2.8.2
python-multipart==0.0.9
python-slugify==8.0.4
pytz==2023.3
pywin32==306
PyYAML==6.0.2
pyzmq==25.1.1
questionary==2.0.1
referencing==0.36.1
requests==2.31.0
requests-oauthlib==1.3.1
rpds-py==0.22.3
rsa==4.9
rsconnect_python==1.22.0
scikit-learn==1.4.2
scipy==1.11.1
scs==3.2.3
seaborn==0.13.1
semver==2.13.0
shiny==0.7.1
simplejson==3.20.1
six==1.16.0
sklearn-compat==0.1.3
sniffio==1.3.0
soupsieve==2.6
stack-data==0.6.2
starlette==0.34.0
statsmodels==0.14.4
sympy==1.12
tabulate==0.9.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-probability==0.21.0
termcolor==2.3.0
text-unidecode==1.3
threadpoolctl==3.2.0
tinycss2==1.4.0
tokenize_rt==6.1.0
torch==2.0.1
torchdiffeq==0.2.3
torchvision==0.15.2
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
typeguard==2.13.3
typing_extensions==4.5.0
tzdata==2023.3
uc-micro-py==1.0.3
urllib3==1.26.16
uvicorn==0.27.1
watchfiles==0.21.0
wcwidth==0.2.6
webencodings==0.5.1
websockets==12.0
Werkzeug==2.3.7
wrapt==1.15.0
xgboost==2.1.4
yfinance==0.2.51
